################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Card.Console/bin/
/Card.Console/obj/
/Card.Core/obj/
/Card.Core/bin/
/Game.Logic/obj/
/Game.Core/obj/
/Core/obj/
packages/
/Server.Core/bin/
/Server.Core/obj/
/Game.Service/bin/
/Game.Service/obj/
/Game.Interfaces/bin/
/Game.Interfaces/obj/
/Game.Core/bin/
/Game.Core/obj/