<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets async="true">

    <target name="file" xsi:type="File" layout="${longdate} ${message} ${exception:format=ToString}" fileName="${basedir}/logs/${shortdate}.txt" keepFileOpen="false" encoding="UTF-8">
    </target>
    <target name="fileDebug" xsi:type="File" layout="${longdate} ${message} ${exception:format=ToString}" fileName="${basedir}/logs/${shortdate}.debug.txt" keepFileOpen="false" encoding="UTF-8">
    </target>
    <target name="fileError" xsi:type="File" layout="${longdate} ${message} ${exception:format=ToString}" fileName="${basedir}/logs/${shortdate}.error.txt" keepFileOpen="false" encoding="UTF-8">
    </target>
    <target name="console" xsi:type="Console" layout="${longdate} ${message} ${exception:format=ToString}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file"></logger>
    <logger name="*" minlevel="Trace" writeTo="console"></logger>
    <logger name="*" minlevel="Debug" writeTo="fileDebug"></logger>
    <logger name="*" minlevel="Error" writeTo="fileError"></logger>
  </rules>
</nlog>
